[View in Colaboratory](https://colab.research.google.com/github/manan-arya/Analytics_Vidhya_Competition/blob/master/XGBoost_CV.ipynb)

In [0]:
import pandas as pd
import numpy as np
import xgboost as xgb

In [10]:
!wget https://raw.githubusercontent.com/manan-arya/Analytics_Vidhya_Competition/master/train_NIR5Yl1.csv
!wget https://raw.githubusercontent.com/manan-arya/Analytics_Vidhya_Competition/master/test_8i3B3FC.csv

--2018-09-01 17:40:55--  https://raw.githubusercontent.com/manan-arya/Analytics_Vidhya_Competition/master/train_NIR5Yl1.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12564851 (12M) [text/plain]
Saving to: ‘train_NIR5Yl1.csv.1’

train_NIR5Yl1.csv.1 100%[===================>]  11.98M  22.1MB/s    in 0.5s

2018-09-01 17:40:55 (22.1 MB/s) - ‘train_NIR5Yl1.csv.1’ saved [12564851/12564851]

--2018-09-01 17:40:56--  https://raw.githubusercontent.com/manan-arya/Analytics_Vidhya_Competition/master/test_8i3B3FC.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4673330 (4.5M) [text/plain]
Saving to: ‘test_8i3B3FC.csv.1’

test_8i3B3FC.csv.1  100%[===================>]   4.46M  12.8MB/s    in 0.3s

2018-09-01 17:40:57 (12.8 MB/s) - ‘test_8i3B3FC.csv.1’ saved [4673330/4673330]

In [0]:
train=pd.read_csv("train_NIR5Yl1.csv")
test=pd.read_csv("test_8i3B3FC.csv")

In [12]:
train.head()

       ID Tag  Reputation  Answers  Username    Views  Upvotes
0   52664   a      3942.0      2.0    155623   7855.0     42.0
1  327662   a     26046.0     12.0     21781  55801.0   1175.0
2  468453   c      1358.0      4.0     56177   8067.0     60.0
3   96996   a       264.0      3.0    168793  27064.0      9.0
4  131465   c      4271.0      4.0    112223  13986.0     83.0

In [13]:
test.head()

       ID Tag  Reputation  Answers  Username    Views
0  366953   a      5645.0      3.0     50652  33200.0
1   71864   c     24511.0      6.0     37685   2730.0
2  141692   i       927.0      1.0    135293  21167.0
3  316833   i        21.0      6.0    166998  18528.0
4  440445   i      4475.0     10.0     53504  57240.0

In [14]:
train = pd.concat([train,pd.get_dummies(train['Tag'], drop_first=True)], axis=1)
train.head()

,ID,Tag,Reputation,Answers,Username,Views,Upvotes,c,h,i,j,o,p,r,s,x
0,52664,a,3942.0,2.0,155623,7855.0,42.0,0,0,0,0,0,0,0,0,0
1,327662,a,26046.0,12.0,21781,55801.0,1175.0,0,0,0,0,0,0,0,0,0
2,468453,c,1358.0,4.0,56177,8067.0,60.0,1,0,0,0,0,0,0,0,0
3,96996,a,264.0,3.0,168793,27064.0,9.0,0,0,0,0,0,0,0,0,0
4,131465,c,4271.0,4.0,112223,13986.0,83.0,1,0,0,0,0,0,0,0,0

In [15]:
test = pd.concat([test,pd.get_dummies(test['Tag'], drop_first=True)], axis=1)
test.head()

,ID,Tag,Reputation,Answers,Username,Views,c,h,i,j,o,p,r,s,x
0,366953,a,5645.0,3.0,50652,33200.0,0,0,0,0,0,0,0,0,0
1,71864,c,24511.0,6.0,37685,2730.0,1,0,0,0,0,0,0,0,0
2,141692,i,927.0,1.0,135293,21167.0,0,0,1,0,0,0,0,0,0
3,316833,i,21.0,6.0,166998,18528.0,0,0,1,0,0,0,0,0,0
4,440445,i,4475.0,10.0,53504,57240.0,0,0,1,0,0,0,0,0,0

In [0]:
train.drop("Tag",axis=1,inplace=True)
test.drop("Tag",axis=1,inplace=True)

In [23]:
test.head()

       ID  Reputation  Answers  Username    Views  c  h  i  j  o  p  r  s  x
0  366953      5645.0      3.0     50652  33200.0  0  0  0  0  0  0  0  0  0
1   71864     24511.0      6.0     37685   2730.0  1  0  0  0  0  0  0  0  0
2  141692       927.0      1.0    135293  21167.0  0  0  1  0  0  0  0  0  0
3  316833        21.0      6.0    166998  18528.0  0  0  1  0  0  0  0  0  0
4  440445      4475.0     10.0     53504  57240.0  0  0  1  0  0  0  0  0  0

In [0]:
X_train=train.drop("Upvotes",axis=1)
y_train=train["Upvotes"]

In [22]:
DM_train = xgb.DMatrix(data=X_train,label=y_train)
#DM_test = xgb.DMatrix(data=X_test,label=y_test)
params = {"booster":"gblinear","objective":"reg:linear"}
xg_reg = xgb.train(params = params, dtrain=DM_train,num_boost_round=100)

preds = xg_reg.predict(test)

AttributeError: ignored